<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<br/>

<table  id="friends" class="w-100">
  <thead id="friendlist-header">
    <tr>
      <th scope="col">First name:</th>
      <th scope="col">Last name:<th>
      <th scope="col">Email:</th>
      <th scope="col">Phone:</th>
      <th scope="col">Twitter:</th>
    </tr>
  </thead>


  <tbody>
    <% @friends.each do |friend, index| %>
     <%= render friend %>
    <% end %>
  </tbody>
</table>

</br>
<%= link_to "New friend", new_friend_path %>
